.boxoffice {
  border: 1px;
  border-collapse: collapse;
}

.poster {
  width: 40%;
}

.img {
  height: 100%;
  width: 50%;
}

th {
  text-align: center;
  vertical-align: center;
}

td {
  vertical-align: center;
}
